<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1 th:text="'Project '+${project.name}+' Page'" align="center"></h1>
	<table>
		<tr>
			<td><b>Project Name:</b></td>
			<td th:text="${project.name}">...</td>
		</tr>
		<tr>
			<td><b>Project Description:</b></td>
			<td th:text="${project.description}" style = "color:grey">...</td>
		</tr>
		<tr>
			<td><b>Created at:</b></td>
			<td th:text="${project.creationTimestamp}">...</td>
		</tr>
		<tr>
			<td><b>Last Update at:</b></td>
			<td th:text="${project.lastUpdateTimestamp}">...</td>
		</tr>
		<tr>
			<td>
				<form method="GET"
					th:action="@{/projects/{projectId}/update(projectId=${project.id})}">
					<button type="submit" value="value">UPDATE PROJECT</button>
				</form>
			</td>
		</tr>
	</table>
	<div th:if="${members.size() > 0}">
		<h3>Shared with:</h3>
		<ul>
			<li th:each="member : ${members}"
				th:if="${!(member.id.equals(loggedUser.id))}">
				<div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
			</li>
		</ul>
	</div>
	<div th:if="${project.tasks.size() > 0}">
		<h3>Tasks</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Task</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task: ${project.tasks}">
					<td><a th:href="'/'+${project.id}+'/tasks/' + ${task.id}"
						th:text="${task.name}"></a></td>
					<td th:text="${task.description}" style="color: gray"></td>
					<td>
						<form method="POST"
							th:action="@{'/'+${project.id}+'/tasks/'+${task.id}+'/delete'}"
							th:if="${project.getOwner().equals(loggedUser)}">
							<button type="submit" value="value">DELETE TASK</button>
						</form>
					</td>
					<td>
						<form method="GET"
							th:action="@{'/projects/'+${project.id}+'/tasks/'+${task.id}+'/update'}"
							th:if="${project.getOwner().equals(loggedUser)}">
							<button type="submit" value="value">UPDATE TASK</button>
						</form>
					</td>
			</tbody>
		</table>
	</div>
	<div th:unless="${project.tasks.size() > 0}"><h4>No Tasks available</h4></div>
	<div
		th:if="${project.getOwner().equals(loggedUser) || loggedCredentials.getRole().equals('ADMIN')}">
		<p>
			<a th:href="@{'/projects/'+${project.id}+'/tasks/add'}">Create
				new Task</a>
		</p>
		<p>
			<a href="/projects">My Projects</a>
		</p>
	</div>
	<div
		th:if="${project.getOwner().equals(loggedUser) || loggedCredentials.getRole().equals('ADMIN')}">
		<h4>Share this project with:</h4>
		<form id="shareCredentialsForm" method="POST"
			th:action="@{'/projects/'+${project.id}+'/share'}">
			<table>
				<tr>
					<td><label for="userName">UserName:</label></td>
					<td><input id="userName" type="text" placeholder="USERNAME"
						th:field="${shareCredentialsForm.userName}"></td>
					<td><button type="submit" value="value">SHARE</button></td>
					<td th:if="${#fields.hasErrors('shareCredentialsForm.userName')}"
						th:errors="*{shareCredentialsForm.userName}" th:style="'color:red'"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>